<div class="repeating-section">
  <div class="{{hideRepeat}}">
    <div class="repeat-section" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
      <formly-form
        fields="fields"
        model="element"
        form="form"
      ></formly-form>
      <div style="remove-button" ng-hide="to.staticData">
        <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
          {{to.translations.remove}}
        </button>
      </div>
      <hr>
  </div>
  <div class="add-button"  ng-hide="to.staticData">
    <button type="button" class="btn btn-primary" ng-click="addNew()">{{to.translations.add}}</button>
  </div>
</div>
